/*body * { outline: 1px dotted pink; }*/

body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

main {
  display: flex;
  width: 800px;
  margin: auto;
}

.home main {
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.order main {
  flex-direction: row;
}

.button {
  text-decoration: none;
  margin-top: 50px;
  font-size: 1.8rem;
  padding: 1rem 1.5rem;
  background: #199175;
  border: none;
  border-radius: 1rem;
  color: #FFF;
  transition: background 0.1s ease;
}

.button:hover {
  background: #1DAB89;
}

h1 {
  font-size: 3rem;
  font-weight: 300;
}

.item {
    padding: 10px;
}

.selected {
  background: #199175;
  color: #FFF;
}

.left, .right {
  width: 50%;
  flex-grow: 1;
  padding: 20px;
}

.left h2,
.right h2 {
  border-bottom: 3px solid #ddd;
  font-weight: 300;
}

.order {
  flex-grow: 1;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.price {
  padding-left: 2rem;
}
