/*body * { outline: 1px dotted pink; }*/

body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.home main {
  align-items: center;
  margin-top: 80px;
}

.button {
  text-decoration: none;
  margin-top: 50px;
  font-size: 1.8rem;
  padding: 1rem 1.5rem;
  background: #199175;
  border: none;
  border-radius: 1rem;
  color: #FFF;
  transition: background 0.1s ease;
}

.button:hover {
  background: #1DAB89;
}

h1 {
  font-size: 3rem;
  font-weight: 300;
}

.item {
    padding: 10px;
}

.selected {
  background: #199175;
  color: #FFF;
}
