/*body * { outline: 1px dotted pink; }*/

body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

main {
  display: flex;
  width: 1200px;
  margin: auto;
}

.home main {
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.order main {
  flex-direction: row;
}

.button {
  text-decoration: none;
  margin-top: 50px;
  font-size: 1.8rem;
  padding: 1rem 1.5rem;
  background: #199175;
  border: none;
  border-radius: 1rem;
  color: #FFF;
  transition: background 0.1s ease;

}

.button:hover {
  background: #1DAB89;
}

h1 {
  margin: 10px 17px;
  color: #333;
  font-weight: 300;
}

.title {
  font-size: 3rem;
}

.item {
    padding: 10px;
}

.selected {
  background: #199175;
  color: #FFF;
}

.left, .right {
  width: 50%;
  flex-grow: 1;
  padding: 20px;
}

.left h2,
.right h2 {
  border-bottom: 3px solid #ddd;
  font-weight: 300;
}

.order {
  flex-grow: 1;
}

.catalog {
  overflow-y: scroll;
  height: 400px;
  overflow-x: hidden;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 90%;
}

.price {
  padding-left: 2rem;
}

.delete {
  display: none;
  background: red;
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #FFF;
  padding: 5px;
  margin-right: 20px;
  border-radius: 5px;
}

.delete:hover {
  /*background: tomato;*/
}

.selected .delete {
  display: inline-block;
}
